<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde itaque aliquam nam aperiam fuga voluptas sequi dolorem facere maxime voluptate! Aliquam hic nulla officia aperiam omnis tempore eum necessitatibus blanditiis incidunt perferendis vel architecto temporibus cum quibusdam, sunt nesciunt dignissimos.</p>
        
    </div>
</div>